# Ignore everything
*

# But not these files in the root directory
!.gitignore
!README.md
!renv.lock
!Dockerfile
!docker_run.sh
!1_cerebro_host.R

# But not these files in subdirectories
!*/
!ns/server.R
!ns/ui.R
!app.R
