# Ignore everything
*

# But not these files in the root directory
!README.md
!renv.lock
!Dockerfile
!docker_run.sh
!.gitignore
!1_cerebro_host.R
!ns/server.R
!apps/ns/server.R
!apps/ns/ui.R
!apps/ns/ns_shiny_noplasma_csf.rds

#even if they are in subdirectories
!*/

